# Start the xdebug language server. (https://xdebug.org/docs/all_settings#trigger_value)
# XDEBUG_SESSION=1

# Enabled xdebug features. (https://xdebug.org/docs/all_settings#mode)
# XDEBUG_MODE=debug

APP_NAME=BlueSkyWebsite
# The environment this is running in (possible values: `local`, `production`)
APP_ENV=local
# The encryption key (can be generated using `./artisan key:generate`)
APP_KEY=
APP_DEBUG=true
# The publicly accessible URL of the website
APP_URL=http://localhost

# The port used to serve the website
# SERVER_PORT=80
# The host interface to serve the website on
# SERVER_HOST=0.0.0.0

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# The database type (which configures the driver)
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=localhost

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


# PUSHER_APP_ID=staging
# PUSHER_APP_KEY=staging
# PUSHER_APP_SECRET=staging
# PUSHER_APP_CLUSTER=mt1


# LARAVEL_WEBSOCKETS_HOST=127.0.0.1
# LARAVEL_WEBSOCKETS_PORT=6001

# VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
# VITE_PUSHER_HOST="${PUSHER_HOST}"
# VITE_PUSHER_PORT="${PUSHER_PORT}"
# VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
# VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


AIRLAPS_KEY=
# vim: ft=sh
