#!/usr/bin/env sh
# A environment file specifically tailored for usage with Docker. Copy this file
# to `.env.docker` and start containerizing :p
# For development usage, use `.env.example` instead!

# (optional, default: Laravel)
#
# Used as a generic name to refer to the project. It is used for example as the
# default web page title.
APP_NAME=BlueSky

# (optional, default: production)
#
# Tell the project what environment it is running in. The options are local for
# development, and production for deployment.
APP_ENV=production

# (required)
#
# Encryption key used for any generic encryption done in the application. It can
# be generated with `./artisan key:generate`.
APP_KEY=

# (optional, default: false)
#
# Enabling debug mode prints out detailed error information on a web page when
# an error occurs during its creation by Laravel. This should be turned off to
# not expose sensitive information to users.
APP_DEBUG=false

# (optional, default: http://localhost)
#
# The publicly available URL to the home page of the website. This is used when
# creating emails and other content outside of the website that needs to point
# back at the website with a link for example.
APP_URL=

# (optional, default: 127.0.0.1)
#
# The web server socket interface.
SERVER_HOST=0.0.0.0

# (optional, default: 8000)
#
# The web server socket port.
SERVER_PORT=8000

# (optional, default: 6001)
#
# The websockets server port.
LARAVEL_WEBSOCKETS_PORT=6001

# (optional, default: 127.0.0.1)
#
# The websockets server host.
LARAVEL_WEBSOCKETS_HOST=

# (required)
#
# The port on which the container exposes the web server. This is mapped from
# `SERVER_PORT` inside the web server container.
CONTAINER_WEBSERVER_PORT=81

# (required)
#
# The port on which the container exposes the websockets server. This is mapped
# from `LARAVEL_WEBSOCKETS_PORT` inside the websockets container.
CONTAINER_WEBSOCKETS_PORT=6001

# (optional, default: stack)
#
# The channel used to log messages. By default, this uses the stack channel
# which forwards the log messages to all the other channels configured under
# the stack channel in `config/logging.php`.
LOG_CHANNEL=stack

# (optional, default: null)
#
# The channel used to log deprecation warnings, when functionality in libraries
# or Laravel is about to be removed.
LOG_DEPRECATIONS_CHANNEL=null

# (optional, multiple defaults)
#
# A log level from emergency, alert, critical, error, warning, notice, info, and
# debug.
LOG_LEVEL=error

# (optional, default: mysql)
#
# The database driver.
DB_CONNECTION=mysql

# (optional, default: localhost)
#
# The database host address.
DB_HOST=

# (optional, default: multiple defaults)
#
# The database host port.
DB_PORT=

# (optional, default: forge)
#
# The database name.
DB_DATABASE=

# (optional, default: forge)
#
# The database username.
DB_USERNAME=

# (optional, default: )
#
# The database password.
DB_PASSWORD=

# Other less important configuration options.
BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=localhost

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


PUSHER_APP_ID=staging
PUSHER_APP_KEY=staging
PUSHER_APP_SECRET=staging
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

AIRLAPS_KEY=
