.header {
    
}
ul {
    text-decoration: none;
    list-style: none;

}

li {
    float: left;
    display: block;
    padding: 10px;
    color:  rgb(65, 115, 208);
}

.dropdown {
    position: absolute;
    display: none;
}
.dropdown li {
    clear: both;
}
.dropdown li a {
    text-decoration: none;
    color: rgb(65, 115, 208);
}

.hovor{

}

.hovor:hover .dropdown {
    display: block;
    color:  red;
}

.clear { clear: both; }


.container {
    width: fit-content;
    margin: 110px auto 0px auto;
}